*
{
    padding: 0px;margin:0px;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: arial;
    background: #f5f5f5;
        
}
header {
    background: #fff;
    outline: 2px solid #e4e4e4;
    text-align: center;
    display: flow-root;
}

header a {
    float: left;
    width: 25%;
    padding: 10px;
    position: relative;
    color: #313131;
    font-size: 18px;
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
}


header a i{
    margin-right: 5px
}

.active {color: #FFF ;  background:#1c76c3; text-decoration: none}

header a:hover {color: #FFF ;  background:#1c76c3; text-decoration: none}

header a:checked {color: #FFF ;  background:#1c76c3; text-decoration: none}





@media (max-width: 710px) {
    header a span{display: block; font-size: 13px;}
    header a {padding: 4px;}
   
}
